/*------------APLICANDO FLEX A SECTION principal ----------*/

.principal {
  display: flex;
  width: 1200px;
  height: 2200px;
  margin: auto;
  border: 2px solid black;
  font-family: 'Sofia Sans', sans-serif;
  font-size: larger;
  padding: 10px;
  
}



/*------------ ASIDE ----------*/

.aside {
  background-color: rgb(0, 0, 66);
  width: 30%;
  color: white;
  padding: 40px;
}

dt {
  font-weight: bolder;
}

dd {
  margin: 0px auto 20px;
}

.contacto {
  margin-top: 200px;
}

.title_educacion {
  font-size: xx-large;
}

p {
  font-size: 40px;
  font-weight: 800;
  border-bottom: 2px solid white;
}

.numero {
  border-bottom: none;
  font-size: 60px;
  margin-top: 0px;
}



aside figure img {
  width: 100%;
  margin: 0px auto 50px;
  border-radius: 50%;
  border: 4px solid white;
}

meter {
  display: block; 
  width: 80%;
  border-radius: 40%;
}

/*------------ MAIN ----------*/

